In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    np.array([
        ['Austria', 'Developed', 'Member', 'Euro'],
        ['Spain', 'Developed', 'Member', 'Euro'],
        ['Japan', 'Developed', 'Not Member', 'National Currency'],
        ['Argentina', 'Developing', 'Not Member', 'National Currency'],
        ['Bolivia', 'Developing', 'Not Member', 'National Currency'],
        ['Taiwan', 'Developed', 'Not Member', 'National Currency'],
    ]),
    columns=['Country', 'Level of development', 'European Union Membership', 'Currency']
)
pd.crosstab(df['Level of development'], df['European Union Membership'])

European Union Membership  Member  Not Member
Level of development
Developed                       2           2
Developing                      0           2

In [2]:
pd.crosstab(df['Level of development'], df['European Union Membership'], margins=True)

European Union Membership  Member  Not Member  All
Level of development
Developed                       2           2    4
Developing                      0           2    2
All                             2           4    6

In [3]:
pd.crosstab(df["Level of development"], [df['European Union Membership'], df['Currency']])

European Union Membership Member        Not Member
Currency                    Euro National Currency
Level of development
Developed                      2                 2
Developing                     0                 2